body{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: chartreuse;
    font-family: cursive
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}